.solid-btn{
	padding: 8px 32px 10px;
	border-radius: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: $bg-color;
	background-color: $main-theme-color;
	border: 1px solid transparent;
	@include transitions-ease(.4s);

	&:hover{
		border-color: $main-theme-color-hover;
		background-color: $bg-color;
		color: $main-theme-color-hover;
	}
}


.simple-link{
	position: relative;
	display: inline-block;
	color: $main-theme-color;
	text-decoration: none;

	&:after{
		pointer-events: none;
		content: '';
		position: absolute;
		left: 0;
		bottom: -0.1em;
		width: 100%;
		height: 1px;
		background-color: $main-theme-color;
		@include transitions-ease(.4s);
		@include scale(0,1);
		@include transform-origin(left, center);
	}

	&.body-color{
		&:after{
			background-color: $body-text-color;
		}
	}

	&:hover{
		&:after{
			@include scale(1,1);
		}
	}
}