/* Andrew Cascade Styling system */

/////// Mixins para detectar mobile y desktop
	$cascade-mobile-max-width: 767px;
	$cascade-desktop-min-width: 768px;

	@mixin cascade-mobile {
		@media (max-width: #{$cascade-mobile-max-width}) {
			@content;
		}
	}

	@mixin cascade-desktop {
		@media (min-width: #{$cascade-desktop-min-width}) {
			@content;
		}
	}


/////// Variables
	$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
	$soft-in-out: cubic-bezier(.3,0,.2,1);
	$cascade_trans_duration: 1000ms;
	$cascade_trans_duration-short: 700ms;
	$cascade_interval: 100ms;
	$aladdin_interval: 20ms;
	$preloader_trans_duration: 500ms;
	$cascade_firstload_mobile: 1000ms;
	$cascade_firstload_desktop: 700ms;


/////// Animaciones hechas con CSS @keyframes
	@keyframes fade-in {
		0%		{
			opacity: 0;
		}
		
		100%	{
			opacity: 1;
		}
	}
	@keyframes mask-up {
		0%		{
			@include translate3d(0, 112%, 0);
			opacity: 0;
		}
		1%		{
			@include translate3d(0, 112%, 0);
			opacity: 1;
		}
		
		100%	{
			@include translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes slide-up {
		0%		{
			@include translate3d(0, 40px, 0);
			opacity: 0;
		}
		
		100%	{
			@include translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes slide-up-long {
		0%		{
			@include translate3d(0, 80px, 0);
			opacity: 0;
		}
		
		100%	{
			@include translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes slide-down {
		0%		{
			@include translate3d(0, -40px, 0);
			opacity: 0;
		}
		
		100%	{
			@include translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes stretch-up {
		0%   {
			-webkit-transform: scaleY(1.2) translate3d(0, 40px, 0);
			-moz-transform: scaleY(1.2) translate3d(0, 40px, 0);
			transform: scaleY(1.2) translate3d(0, 40px, 0);
			opacity: 0;
		}

		100% {
			-webkit-transform: scaleY(1) translate3d(0,0,0);
			-moz-transform: scaleY(1) translate3d(0,0,0);
			transform: scaleY(1) translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes rotate-up {
		0%   {
			-webkit-transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
			-moz-transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
			transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);
			-moz-transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);
			transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);
			opacity: 1;
		}
	}
	@keyframes scale-x {
		0%   {
			@include scale(0,1);
			opacity: 0;
		}

		100% {
			@include scale(1,1);
			opacity: 1;
		}
	}


/////// Estilos

// Configuración general
.cascade-mask {
	position: relative;
	vertical-align: top;
	overflow: hidden;

	&.inline-block{
		display: inline-block;
	}

	&.padded-r {
		padding-right: 15px;
		// padding-bottom: 15px;
		@include content-box;
	}
}

[data-cascade]{
	display: block;
	animation-duration: $cascade_trans_duration;
	animation-timing-function: $soft-in-out;
	animation-fill-mode: both;
}


[data-cascade="fade-in"]{opacity: 0;}
[data-cascade="fade-in"].animate, .animate [data-cascade="fade-in"]{
	opacity: 1;
	@include ani-name(fade-in);
}
[data-cascade="mask-up"]{opacity: 0;}
[data-cascade="mask-up"].animate, .animate [data-cascade="mask-up"]{
	opacity: 1;
	@include ani-name(mask-up);
}
[data-cascade="slide-up"]{opacity: 0;}
[data-cascade="slide-up"].animate, .animate [data-cascade="slide-up"]{
	opacity: 1;
	@include ani-name(slide-up);
}
[data-cascade="slide-up-long"]{opacity: 0;}
[data-cascade="slide-up-long"].animate, .animate [data-cascade="slide-up-long"]{
	opacity: 1;
	@include ani-name(slide-up-long);
}
[data-cascade="slide-down"]{opacity: 0;}
[data-cascade="slide-down"].animate, .animate [data-cascade="slide-down"]{
	opacity: 1;
	@include ani-name(slide-down);
}
[data-cascade="stretch-up"]{opacity: 0;}
[data-cascade="stretch-up"].animate, .animate [data-cascade="stretch-up"]{
	@include transform-origin(top, left);
	opacity: 1;
	@include ani-name(stretch-up);
}
[data-cascade="rotate-up"]{opacity: 0;}
[data-cascade="rotate-up"].animate, .animate [data-cascade="rotate-up"]{
	@include transform-origin(center, bottom);
	opacity: 1;
	@include ani-name(rotate-up);
}
[data-cascade="scale-x-left"]{opacity: 0;}
[data-cascade="scale-x-left"].animate, .animate [data-cascade="scale-x-left"]{
	@include transform-origin(center, left);
	animation-duration: $cascade_trans_duration-short;
	opacity: 1;
	@include ani-name(scale-x);
}


[data-cascade="aladdin"]{
	animation-duration: 600ms;
	opacity: 0;
}
[data-cascade="aladdin"].animate, .animate [data-cascade="aladdin"]{
	opacity: 1;
	@include ani-name(slide-up);
}



@include cascade-mobile {
	[data-cascade-delay-mobile="0"]{animation-delay: $cascade_interval * 0;}
	[data-cascade-delay-mobile="1"]{animation-delay: $cascade_interval * 1;}
	[data-cascade-delay-mobile="2"]{animation-delay: $cascade_interval * 2;}
	[data-cascade-delay-mobile="3"]{animation-delay: $cascade_interval * 3;}
	[data-cascade-delay-mobile="4"]{animation-delay: $cascade_interval * 4;}
	[data-cascade-delay-mobile="5"]{animation-delay: $cascade_interval * 5;}
	[data-cascade-delay-mobile="6"]{animation-delay: $cascade_interval * 6;}
	[data-cascade-delay-mobile="7"]{animation-delay: $cascade_interval * 7;}
	[data-cascade-delay-mobile="8"]{animation-delay: $cascade_interval * 8;}
	[data-cascade-delay-mobile="9"]{animation-delay: $cascade_interval * 9;}
	[data-cascade-delay-mobile="10"]{animation-delay: $cascade_interval * 10;}
	[data-cascade-delay-mobile="11"]{animation-delay: $cascade_interval * 11;}
	[data-cascade-delay-mobile="12"]{animation-delay: $cascade_interval * 12;}
	[data-cascade-delay-mobile="13"]{animation-delay: $cascade_interval * 13;}
	[data-cascade-delay-mobile="14"]{animation-delay: $cascade_interval * 14;}
	[data-cascade-delay-mobile="15"]{animation-delay: $cascade_interval * 15;}
	[data-cascade-delay-mobile="16"]{animation-delay: $cascade_interval * 16;}
	[data-cascade-delay-mobile="17"]{animation-delay: $cascade_interval * 17;}
	[data-cascade-delay-mobile="18"]{animation-delay: $cascade_interval * 18;}
	[data-cascade-delay-mobile="19"]{animation-delay: $cascade_interval * 19;}
	[data-cascade-delay-mobile="20"]{animation-delay: $cascade_interval * 20;}
	[data-cascade-delay-mobile="21"]{animation-delay: $cascade_interval * 21;}
	[data-cascade-delay-mobile="22"]{animation-delay: $cascade_interval * 22;}
	[data-cascade-delay-mobile="23"]{animation-delay: $cascade_interval * 23;}
	[data-cascade-delay-mobile="24"]{animation-delay: $cascade_interval * 24;}
	[data-cascade-delay-mobile="25"]{animation-delay: $cascade_interval * 25;}
	[data-cascade-delay-mobile="26"]{animation-delay: $cascade_interval * 26;}
	[data-cascade-delay-mobile="27"]{animation-delay: $cascade_interval * 27;}
	[data-cascade-delay-mobile="28"]{animation-delay: $cascade_interval * 28;}
	[data-cascade-delay-mobile="29"]{animation-delay: $cascade_interval * 29;}
	[data-cascade-delay-mobile="30"]{animation-delay: $cascade_interval * 30;}
	[data-cascade-delay-mobile="31"]{animation-delay: $cascade_interval * 31;}
	[data-cascade-delay-mobile="32"]{animation-delay: $cascade_interval * 32;}
	[data-cascade-delay-mobile="33"]{animation-delay: $cascade_interval * 33;}
	[data-cascade-delay-mobile="34"]{animation-delay: $cascade_interval * 34;}
	[data-cascade-delay-mobile="35"]{animation-delay: $cascade_interval * 35;}
	[data-cascade-delay-mobile="36"]{animation-delay: $cascade_interval * 36;}
	[data-cascade-delay-mobile="37"]{animation-delay: $cascade_interval * 37;}
	[data-cascade-delay-mobile="38"]{animation-delay: $cascade_interval * 38;}
	[data-cascade-delay-mobile="39"]{animation-delay: $cascade_interval * 39;}
	[data-cascade-delay-mobile="40"]{animation-delay: $cascade_interval * 40;}
	
	[data-cascade-delay-mobile="0"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 0);}
	}
	[data-cascade-delay-mobile="1"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 1);}
	}
	[data-cascade-delay-mobile="2"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 2);}
	}
	[data-cascade-delay-mobile="3"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 3);}
	}
	[data-cascade-delay-mobile="4"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 4);}
	}
	[data-cascade-delay-mobile="5"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 5);}
	}
	[data-cascade-delay-mobile="6"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 6);}
	}
	[data-cascade-delay-mobile="7"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 7);}
	}
	[data-cascade-delay-mobile="8"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 8);}
	}
	[data-cascade-delay-mobile="9"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 9);}
	}
	[data-cascade-delay-mobile="10"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 10);}
	}
	[data-cascade-delay-mobile="11"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 11);}
	}
	[data-cascade-delay-mobile="12"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 12);}
	}
	[data-cascade-delay-mobile="13"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 13);}
	}
	[data-cascade-delay-mobile="14"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 14);}
	}
	[data-cascade-delay-mobile="15"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 15);}
	}
	[data-cascade-delay-mobile="16"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 16);}
	}
	[data-cascade-delay-mobile="17"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 17);}
	}
	[data-cascade-delay-mobile="18"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 18);}
	}
	[data-cascade-delay-mobile="19"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 19);}
	}
	[data-cascade-delay-mobile="20"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 20);}
	}
	[data-cascade-delay-mobile="21"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 21);}
	}
	[data-cascade-delay-mobile="22"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 22);}
	}
	[data-cascade-delay-mobile="23"]{
		&.firstload-mobile, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 23);}
	}


	[data-aladdin-delay-mobile="0"]{animation-delay: $aladdin_interval * 0;}
	[data-aladdin-delay-mobile="1"]{animation-delay: $aladdin_interval * 1;}
	[data-aladdin-delay-mobile="2"]{animation-delay: $aladdin_interval * 2;}
	[data-aladdin-delay-mobile="3"]{animation-delay: $aladdin_interval * 3;}
	[data-aladdin-delay-mobile="4"]{animation-delay: $aladdin_interval * 4;}
	[data-aladdin-delay-mobile="5"]{animation-delay: $aladdin_interval * 5;}
	[data-aladdin-delay-mobile="6"]{animation-delay: $aladdin_interval * 6;}
	[data-aladdin-delay-mobile="7"]{animation-delay: $aladdin_interval * 7;}
	[data-aladdin-delay-mobile="8"]{animation-delay: $aladdin_interval * 8;}
	[data-aladdin-delay-mobile="9"]{animation-delay: $aladdin_interval * 9;}
	[data-aladdin-delay-mobile="10"]{animation-delay: $aladdin_interval * 10;}
	[data-aladdin-delay-mobile="11"]{animation-delay: $aladdin_interval * 11;}
	[data-aladdin-delay-mobile="12"]{animation-delay: $aladdin_interval * 12;}
	[data-aladdin-delay-mobile="13"]{animation-delay: $aladdin_interval * 13;}
	[data-aladdin-delay-mobile="14"]{animation-delay: $aladdin_interval * 14;}
	[data-aladdin-delay-mobile="15"]{animation-delay: $aladdin_interval * 15;}
	[data-aladdin-delay-mobile="16"]{animation-delay: $aladdin_interval * 16;}
	[data-aladdin-delay-mobile="17"]{animation-delay: $aladdin_interval * 17;}
	[data-aladdin-delay-mobile="18"]{animation-delay: $aladdin_interval * 18;}
	[data-aladdin-delay-mobile="19"]{animation-delay: $aladdin_interval * 19;}
	[data-aladdin-delay-mobile="20"]{animation-delay: $aladdin_interval * 20;}
	[data-aladdin-delay-mobile="21"]{animation-delay: $aladdin_interval * 21;}
	[data-aladdin-delay-mobile="22"]{animation-delay: $aladdin_interval * 22;}
	[data-aladdin-delay-mobile="23"]{animation-delay: $aladdin_interval * 23;}
	[data-aladdin-delay-mobile="24"]{animation-delay: $aladdin_interval * 24;}
	[data-aladdin-delay-mobile="25"]{animation-delay: $aladdin_interval * 25;}
	[data-aladdin-delay-mobile="26"]{animation-delay: $aladdin_interval * 26;}
	[data-aladdin-delay-mobile="27"]{animation-delay: $aladdin_interval * 27;}
	[data-aladdin-delay-mobile="28"]{animation-delay: $aladdin_interval * 28;}
	
	[data-aladdin-delay-mobile="0"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 0);}
	}
	[data-aladdin-delay-mobile="1"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 1);}
	}
	[data-aladdin-delay-mobile="2"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 2);}
	}
	[data-aladdin-delay-mobile="3"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 3);}
	}
	[data-aladdin-delay-mobile="4"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 4);}
	}
	[data-aladdin-delay-mobile="5"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 5);}
	}
	[data-aladdin-delay-mobile="6"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 6);}
	}
	[data-aladdin-delay-mobile="7"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 7);}
	}
	[data-aladdin-delay-mobile="8"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 8);}
	}
	[data-aladdin-delay-mobile="9"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 9);}
	}
	[data-aladdin-delay-mobile="10"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 10);}
	}
	[data-aladdin-delay-mobile="11"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 11);}
	}
	[data-aladdin-delay-mobile="12"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 12);}
	}
	[data-aladdin-delay-mobile="13"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 13);}
	}
	[data-aladdin-delay-mobile="14"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 14);}
	}
	[data-aladdin-delay-mobile="15"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 15);}
	}
	[data-aladdin-delay-mobile="16"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 16);}
	}
	[data-aladdin-delay-mobile="17"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 17);}
	}
	[data-aladdin-delay-mobile="18"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 18);}
	}
	[data-aladdin-delay-mobile="19"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 19);}
	}
	[data-aladdin-delay-mobile="20"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 20);}
	}
	[data-aladdin-delay-mobile="21"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 21);}
	}
	[data-aladdin-delay-mobile="22"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 22);}
	}
	[data-aladdin-delay-mobile="23"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 23);}
	}
	[data-aladdin-delay-mobile="24"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 24);}
	}
	[data-aladdin-delay-mobile="25"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 25);}
	}
	[data-aladdin-delay-mobile="26"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 26);}
	}
	[data-aladdin-delay-mobile="27"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 27);}
	}
	[data-aladdin-delay-mobile="28"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 28);}
	}
	[data-aladdin-delay-mobile="29"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 29);}
	}
	[data-aladdin-delay-mobile="30"]{
		&.firstload-mobile, &.firstload{animation-delay: $cascade_firstload_mobile + ($aladdin_interval * 30);}
	}
}


@include cascade-desktop {
	[data-cascade-delay="0"]{animation-delay: $cascade_interval * 0;}
	[data-cascade-delay="1"]{animation-delay: $cascade_interval * 1;}
	[data-cascade-delay="2"]{animation-delay: $cascade_interval * 2;}
	[data-cascade-delay="3"]{animation-delay: $cascade_interval * 3;}
	[data-cascade-delay="4"]{animation-delay: $cascade_interval * 4;}
	[data-cascade-delay="5"]{animation-delay: $cascade_interval * 5;}
	[data-cascade-delay="6"]{animation-delay: $cascade_interval * 6;}
	[data-cascade-delay="7"]{animation-delay: $cascade_interval * 7;}
	[data-cascade-delay="8"]{animation-delay: $cascade_interval * 8;}
	[data-cascade-delay="9"]{animation-delay: $cascade_interval * 9;}
	[data-cascade-delay="10"]{animation-delay: $cascade_interval * 10;}
	[data-cascade-delay="11"]{animation-delay: $cascade_interval * 11;}
	[data-cascade-delay="12"]{animation-delay: $cascade_interval * 12;}
	[data-cascade-delay="13"]{animation-delay: $cascade_interval * 13;}
	[data-cascade-delay="14"]{animation-delay: $cascade_interval * 14;}
	[data-cascade-delay="15"]{animation-delay: $cascade_interval * 15;}
	[data-cascade-delay="16"]{animation-delay: $cascade_interval * 16;}
	[data-cascade-delay="17"]{animation-delay: $cascade_interval * 17;}
	[data-cascade-delay="18"]{animation-delay: $cascade_interval * 18;}
	[data-cascade-delay="19"]{animation-delay: $cascade_interval * 19;}
	[data-cascade-delay="20"]{animation-delay: $cascade_interval * 20;}
	[data-cascade-delay="21"]{animation-delay: $cascade_interval * 21;}
	[data-cascade-delay="22"]{animation-delay: $cascade_interval * 22;}
	[data-cascade-delay="23"]{animation-delay: $cascade_interval * 23;}
	[data-cascade-delay="24"]{animation-delay: $cascade_interval * 24;}
	[data-cascade-delay="25"]{animation-delay: $cascade_interval * 25;}
	[data-cascade-delay="26"]{animation-delay: $cascade_interval * 26;}
	[data-cascade-delay="27"]{animation-delay: $cascade_interval * 27;}
	[data-cascade-delay="28"]{animation-delay: $cascade_interval * 28;}
	[data-cascade-delay="29"]{animation-delay: $cascade_interval * 29;}
	[data-cascade-delay="30"]{animation-delay: $cascade_interval * 30;}
	[data-cascade-delay="31"]{animation-delay: $cascade_interval * 31;}
	[data-cascade-delay="32"]{animation-delay: $cascade_interval * 32;}
	[data-cascade-delay="33"]{animation-delay: $cascade_interval * 33;}
	[data-cascade-delay="34"]{animation-delay: $cascade_interval * 34;}
	[data-cascade-delay="35"]{animation-delay: $cascade_interval * 35;}
	[data-cascade-delay="36"]{animation-delay: $cascade_interval * 36;}
	[data-cascade-delay="37"]{animation-delay: $cascade_interval * 37;}
	[data-cascade-delay="38"]{animation-delay: $cascade_interval * 38;}
	[data-cascade-delay="39"]{animation-delay: $cascade_interval * 39;}
	[data-cascade-delay="40"]{animation-delay: $cascade_interval * 40;}
	
	[data-cascade-delay="0"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 0);}
	}
	[data-cascade-delay="1"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 1);}
	}
	[data-cascade-delay="2"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 2);}
	}
	[data-cascade-delay="3"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 3);}
	}
	[data-cascade-delay="4"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 4);}
	}
	[data-cascade-delay="5"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 5);}
	}
	[data-cascade-delay="6"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 6);}
	}
	[data-cascade-delay="7"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 7);}
	}
	[data-cascade-delay="8"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 8);}
	}
	[data-cascade-delay="9"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 9);}
	}
	[data-cascade-delay="10"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 10);}
	}
	[data-cascade-delay="11"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 11);}
	}
	[data-cascade-delay="12"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 12);}
	}
	[data-cascade-delay="13"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 13);}
	}
	[data-cascade-delay="14"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 14);}
	}
	[data-cascade-delay="15"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 15);}
	}
	[data-cascade-delay="16"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 16);}
	}
	[data-cascade-delay="17"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 17);}
	}
	[data-cascade-delay="18"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 18);}
	}
	[data-cascade-delay="19"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 19);}
	}
	[data-cascade-delay="20"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 20);}
	}
	[data-cascade-delay="21"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 21);}
	}
	[data-cascade-delay="22"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 22);}
	}
	[data-cascade-delay="23"]{
		&.firstload-desk, &.firstload{animation-delay: $preloader_trans_duration + ($cascade_interval * 23);}
	}


	[data-aladdin-delay="0"]{animation-delay: $aladdin_interval * 0;}
	[data-aladdin-delay="1"]{animation-delay: $aladdin_interval * 1;}
	[data-aladdin-delay="2"]{animation-delay: $aladdin_interval * 2;}
	[data-aladdin-delay="3"]{animation-delay: $aladdin_interval * 3;}
	[data-aladdin-delay="4"]{animation-delay: $aladdin_interval * 4;}
	[data-aladdin-delay="5"]{animation-delay: $aladdin_interval * 5;}
	[data-aladdin-delay="6"]{animation-delay: $aladdin_interval * 6;}
	[data-aladdin-delay="7"]{animation-delay: $aladdin_interval * 7;}
	[data-aladdin-delay="8"]{animation-delay: $aladdin_interval * 8;}
	[data-aladdin-delay="9"]{animation-delay: $aladdin_interval * 9;}
	[data-aladdin-delay="10"]{animation-delay: $aladdin_interval * 10;}
	[data-aladdin-delay="11"]{animation-delay: $aladdin_interval * 11;}
	[data-aladdin-delay="12"]{animation-delay: $aladdin_interval * 12;}
	[data-aladdin-delay="13"]{animation-delay: $aladdin_interval * 13;}
	[data-aladdin-delay="14"]{animation-delay: $aladdin_interval * 14;}
	[data-aladdin-delay="15"]{animation-delay: $aladdin_interval * 15;}
	[data-aladdin-delay="16"]{animation-delay: $aladdin_interval * 16;}
	[data-aladdin-delay="17"]{animation-delay: $aladdin_interval * 17;}
	[data-aladdin-delay="18"]{animation-delay: $aladdin_interval * 18;}
	[data-aladdin-delay="19"]{animation-delay: $aladdin_interval * 19;}
	[data-aladdin-delay="20"]{animation-delay: $aladdin_interval * 20;}
	[data-aladdin-delay="21"]{animation-delay: $aladdin_interval * 21;}
	[data-aladdin-delay="22"]{animation-delay: $aladdin_interval * 22;}
	[data-aladdin-delay="23"]{animation-delay: $aladdin_interval * 23;}
	[data-aladdin-delay="24"]{animation-delay: $aladdin_interval * 24;}
	[data-aladdin-delay="25"]{animation-delay: $aladdin_interval * 25;}
	[data-aladdin-delay="26"]{animation-delay: $aladdin_interval * 26;}
	[data-aladdin-delay="27"]{animation-delay: $aladdin_interval * 27;}
	[data-aladdin-delay="28"]{animation-delay: $aladdin_interval * 28;}
	
	[data-aladdin-delay="0"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 0);}
	}
	[data-aladdin-delay="1"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 1);}
	}
	[data-aladdin-delay="2"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 2);}
	}
	[data-aladdin-delay="3"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 3);}
	}
	[data-aladdin-delay="4"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 4);}
	}
	[data-aladdin-delay="5"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 5);}
	}
	[data-aladdin-delay="6"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 6);}
	}
	[data-aladdin-delay="7"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 7);}
	}
	[data-aladdin-delay="8"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 8);}
	}
	[data-aladdin-delay="9"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 9);}
	}
	[data-aladdin-delay="10"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 10);}
	}
	[data-aladdin-delay="11"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 11);}
	}
	[data-aladdin-delay="12"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 12);}
	}
	[data-aladdin-delay="13"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 13);}
	}
	[data-aladdin-delay="14"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 14);}
	}
	[data-aladdin-delay="15"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 15);}
	}
	[data-aladdin-delay="16"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 16);}
	}
	[data-aladdin-delay="17"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 17);}
	}
	[data-aladdin-delay="18"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 18);}
	}
	[data-aladdin-delay="19"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 19);}
	}
	[data-aladdin-delay="20"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 20);}
	}
	[data-aladdin-delay="21"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 21);}
	}
	[data-aladdin-delay="22"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 22);}
	}
	[data-aladdin-delay="23"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 23);}
	}
	[data-aladdin-delay="24"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 24);}
	}
	[data-aladdin-delay="25"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 25);}
	}
	[data-aladdin-delay="26"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 26);}
	}
	[data-aladdin-delay="27"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 27);}
	}
	[data-aladdin-delay="28"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 28);}
	}
	[data-aladdin-delay="29"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 29);}
	}
	[data-aladdin-delay="30"]{
		&.firstload-desk, &.firstload{animation-delay: $cascade_firstload_desktop + ($aladdin_interval * 30);}
	}
}

