section#about-section.menu-padded-section
	.og-container
		.og-row
			.image-wrap.order-1.og-col-24.offset-xs-2.og-col-xs-20.offset-sm-0.order-sm-0.og-col-sm-12.offset-md-1.og-col-md-9.motion-cascade
				img(src="img/roscoe-edwards.jpg", alt="About Captain Roscoe Edwards" data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2")



			.info-wrap.order-0.offset-2.og-col-18.og-col-xs-11.order-sm-1.og-col-sm-9.offset-lg-3.og-col-lg-8.motion-cascade
				h3.p2._label(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2") About the Founder

				p.p2._body(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3") Raiders Tigers Flying Club is a non-profit organization founded by Captain Roscoe Edwards to bring diversity to the aviation community and opportunities to aspiring pilots, no matter their origin or resources.
				
				p.p2._body(data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4") Captain Edwards is retired Marine veteran and FAA Designated Pilot Examiner with more than 30,000 hours of flight time. He currently holds an Airline Transport Pilot certificate with type ratings for the Fairchild 227; and Boeing 737, 757, 767 aircraft.