section#contact-section.menu-padded-section
	.og-container
		.og-row
			.info-wrap.offset-2.og-col-20.og-col-xs-12.offset-sm-1.og-col-sm-10.offset-lg-2.og-col-lg-8.motion-cascade
				h1.h2._title(data-cascade="slide-up" data-cascade-delay-mobile="1" data-cascade-delay="1") Ready to train with industry professionals?

				p.p2._body(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2") Whether you're seeking a discovery flight or finishing a certificate or rating, we can help you achieve your goals. Send us an email or give us a call, we’re here to help you reach your goals.

				ul.contact-info
					li
						._label.p3(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3") Email

						div(data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
							a(href="mailto:raiderstigersflyingclub@gmail.com" target="_blank" rel="nofollow noopener noreferrer").simple-link.h3 raiderstigersflyingclub@gmail.com

					li
						._label.p3(data-cascade="slide-up" data-cascade-delay-mobile="5" data-cascade-delay="5") Address
						
						div(data-cascade="slide-up" data-cascade-delay-mobile="6" data-cascade-delay="6")
							a(href="https://www.google.com/maps/place/8402+Nelms+St,+Houston,+TX+77061/@29.6455948,-95.2717562,18.5z/data=!4m5!3m4!1s0x86409653b0264f23:0x51ef0c3ab60a454a!8m2!3d29.6456674!4d-95.2717709" target="_blank" rel="nofollow noopener noreferrer").simple-link.h3
								| 8402 Nelms St
								br
								| Houston, TX 77061
						
					li
						._label.p3(data-cascade="slide-up" data-cascade-delay-mobile="7" data-cascade-delay="7") Phone
						
						div(data-cascade="slide-up" data-cascade-delay-mobile="8" data-cascade-delay="8")
							a(href="tel:+3464064952").simple-link.h3 +1 (346) 406-4952
			

			.image-wrap.og-col-24.offset-xs-2.og-col-xs-20.offset-sm-2.og-col-sm-11.offset-lg-1.og-col-lg-13.motion-cascade
				div(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="3")
					img(src="img/tahchiona-flying-cropped-min.jpg", alt="Pilot Tahchiona Flying Cessna 172 aircraft")