footer#landing-footer.motion-cascade
	.scene-container
		img(src="img/mountain-scene.svg" alt="Aircraft taking off near mountain in opposite direction of trees")

	.og-container
		//- .og-row.main-footer
			.offset-1.og-col-22.inner-wrap
				ul.page-links
					li(data-cascade="slide-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
						a(href="hero-section").scroll-to-js
							img(src="img/brand_logo.png", alt="Brand logo")

					li._social(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2")
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").h5.simple-link Twitter

					li._social(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3")
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").h5.simple-link Instagram

					li._social(data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").h5.simple-link Facebook

				
				p._copyright
					span(data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="5") Your Brand © 2020. All Rights Reserved.

		//- .og-row.sub-footer
			.offset-1.og-col-22.inner-wrap
				._topline

				._credits(data-cascade="fade-in" data-cascade-delay-mobile="7" data-cascade-delay="7") 
					p This website is part of 
						span._highlight.semibold #BringHoustonOnline 
						|campaign.
					a(href="https://snaju.com/grant" target="_blank" rel="nofollow noopener noreferrer").simple-link.body-color._highlight.semibold Learn more here.
				
				p._credits(data-cascade="fade-in" data-cascade-delay-mobile="8" data-cascade-delay="8") Designed and developed by 
					a(href="https://snaju.com/" target="_blank" rel="nofollow noopener noreferrer").simple-link.body-color._highlight.semibold Snaju LLC


		.og-row
			.offset-1.og-col-22.inner-wrap
				._topline

				p._copyright Copyright &copy; <span class="datetime__year">2021</span> Raiders Tigers Flying Club. All Rights Reserved.