nav#header-nav
	.inner-wrap
		.logo-wrap(data-cascade="slide-up" data-cascade-delay-mobile="0" data-cascade-delay="0")
			a(href="hero-section").scroll-to-js.mob-menu-page-scroll
				img(src="img/logo.png", alt="Raiders Tigers Flying Club logo")

		ul.pages-wrap
			li(data-cascade="slide-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
				a(href="services-section").h5.simple-link.scroll-to-js Training
			
			li(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2")
				a(href="about-section").h5.simple-link.scroll-to-js About Us
			
			li(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3")
				a(href="contact-section").h5.simple-link.scroll-to-js Contact Us

			li(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3")
				a(href="https://paypal.me/raiderstigers" target="_blank" rel="noopener nofollow").h5.simple-link Donate


		#mobile-menu-trigger.mobile-menu-trigger(data-cascade="slide-up" data-cascade-delay-mobile="0" data-cascade-delay="0")
			button.burger-btn
				span._line
				span._line
				span._line