section#hero-section.menu-padded-section
	.abstract-ac-path
		img(src="img/flight-path.svg" alt="Illustration of aircraft following path")

	.og-container
		.og-row
			#hero-info.intro-wrap.offset-2.og-col-20.og-col-sm-10.og-col-md-8.og-col-xs-14.og-col-xl-7
				.title-wrap
					h1.h2(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2") Houston-based Flight Training School

				.bottom-wrap
					p.p1._description(data-cascade="slide-up" data-cascade-delay-mobile="3" data-cascade-delay="3") Training the next generation of proficient, capable, and diverse pilots

					div(data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						a(href="contact-section").h4._cta.solid-btn.scroll-to-js Start Training
						a(href="mailto:raiderstigersflyingclub@gmail.com?subject=I would like to make a donation&body=Hi, I would like to make a 100% tax-deductible donation to Raiders Tigers Flying Club. Please send me a donation form and instructions on sending payment. Thanks!").h4._cta.solid-btn.solid-btn--warning Donate

			#hero-image.image-wrap.og-col-24.offset-xs-2.og-col-xs-20.offset-sm-1.og-col-sm-11.offset-md-1.og-col-md-13.og-col-xl-14
				//- div(data-cascade="slide-up" data-cascade-delay-mobile="5" data-cascade-delay="3")
					img(src="img/tahchiona-captain-license-cropped.jpg", alt="Pilot Tahchiona receiving pilot certificate")

				.img-carousel(data-selected="0" data-cascade="slide-up" data-cascade-delay-mobile="5" data-cascade-delay="3")
					._inner-wrapper
						._img-container
							img(src="img/tahchiona-captain-license-cropped.jpg", alt="Pilot Tahchiona receiving Certified Flight Instructor - Instrument Rating allowing her to train pilots for their Instrument Rating.")
							p._caption Pilot Tahchiona receiving Certified Flight Instructor - Instrument Rating allowing her to train pilots for their Instrument Rating.
						._img-container
							img(src="img/throwback-1.jpg", alt="Captain Edwards stands proud with former students he trained; most who attended Sterling High School and who now work at major airlines like United.")
							p._caption Captain Edwards stands proud with former students he trained; most who attended Sterling High School and who now work at major airlines like United.
						._img-container
							img(src="img/flying-2-cropped.jpg", alt="Cross-country flight overlooking downtown Houston.")
							p._caption Cross-country flight overlooking downtown Houston.
						._img-container
							img(src="img/flying-3-cropped.jpg", alt="Flight Instructor and current airline pilot Corey practicing commerical flight maneuvers with pilot Tahchiona.")
							p._caption Flight Instructor and current airline pilot Corey practicing commerical flight maneuvers with pilot Tahchiona.
						._img-container
							img(src="img/ground-school-2.jpg", alt="Flight Instructors conducting pair evaluation to ensure standards are exceeded while teaching students.")
							p._caption Flight Instructors conducting pair evaluation to ensure standards are exceeded while teaching students.
						//- ._img-container
							img(src="img/plane-1.jpg", alt="")
							p._caption instructors setting standards for manuevers.
					._pagination
						._indicator.active
						._indicator
						._indicator
						._indicator
						._indicator
						//- ._indicator
