#mobile-menu
	.menu-links-wrap
		.og-container.links-container
			.og-row.pages-wrap
				ul.offset-2.og-col-20
					li
						a(href="services-section").simple-link.h2.scroll-to-js.mob-menu-page-scroll Training
					
					li
						a(href="about-section").simple-link.h2.scroll-to-js.mob-menu-page-scroll About Us
					
					li
						a(href="contact-section").simple-link.h2.scroll-to-js.mob-menu-page-scroll Contact Us

					li
						a(href="https://paypal.me/raiderstigers" target="_blank" rel="noopener nofollow").simple-link.h2.mob-menu-page-scroll Donate


			//- .og-row.social-wrap
				.offset-2.og-col-20 
					h4._title.p2 Follow us

				ul.offset-2.og-col-20
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").p1.simple-link Twitter
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").p1.simple-link Instagram
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").p1.simple-link Facebook



		//- .og-container.footer-shortcut
			.og-row.copyright-wrap
				//- ._copyright.og-col-20.offset-2
					p.p2 Your Brand © 2020. All Rights Reserved.

			.og-row.credits-wrap
				.inner-wrap.offset-2.og-col-20
					._topline

					//- ._credits 
						p.p3 This website is part of 
							span._highlight.semibold #BringHoustonOnline 
							|campaign.
						a(href="https://snaju.com/grant" target="_blank" rel="nofollow noopener noreferrer").simple-link.body-color._highlight.semibold.p3 Learn more here.
					
					//- p._credits.p3 Designed and developed by 
						a(href="https://snaju.com/" target="_blank" rel="nofollow noopener noreferrer").simple-link.body-color._highlight.semibold Snaju LLC
