section#quote-section.menu-padded-section
	.og-container
		.og-row
			.quote-wrap.offset-2.og-col-20.offset-lg-5.og-col-lg-14.motion-cascade
				h2.h2(data-cascade="slide-up" data-cascade-delay-mobile="2" data-cascade-delay="2")
					|To 
					span._highlight.underline.medium highlight unique personality 

					|and still 
					span._highlight.underline.medium be flexible 
					|to support as many different brands as possible is the goal of this template.