#hero-section{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: $mob-header-nav-height + 60px;


	// border: 1px solid red;
	min-height: 90vh;


	.solid-btn {
		// &:last-child {

			margin-top: 15px;
			margin-left: 15px;

			// @media (m)
		// }

		@include small-desktop {
			&:first-child {
				margin-left: 0;
			}
		}
	}



	.abstract-ac-path {
		z-index: -100;
		// border: 1px solid orange;
		position: absolute;
		top: 50px;
		right: 0;
		// left: 0;
		width: 100%;
		max-width: 100%;
		height: auto;
		// background-color: red;
		opacity: 0.1;
		
		@include tablet {
			opacity: 0.4;
		};

		img {
			position: absolute;
			right: 0;
			top: 0;
			// right: 0;
			// width: 100%;
			// height: 100%;

			@include tablet {
				top: -100px;
				// position: relative;
			// 	width: 100%;
			// 	height: auto;
			}

			@include laptop {
				// position: static;
				position: relative;
				width: 100%;
				height: auto;
				// background-color: red;
				// top: 0;
				top: -130px;
			}

			// @include small-desktop {
			// 	top: -130px;
			// 	background: blue;
			// }

			@include desktop {
				top: -160px;
			}
		}
	}

	.intro-wrap{
		padding-top: 24px;
		padding-bottom: 40px;
		@include flexIt;
		@include flexDirection-Vert;
		@include flexJustify-center;

		@include tablet {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.title-wrap{
		margin-bottom: 12px;
		// font-size: 24px;
		color: $main-theme-color;

		// @include tablet {
		// 	margin-bottom: 55px;
		// }

		h1 {
			font-size: 2.15rem;
		}

		._label{
			margin-bottom: 8px;

			@include tablet {
				margin-bottom: 16px;
			}
		}
	}

	.bottom-wrap{
		._description{
			color: #C4C4C4;
			margin-bottom: 24px;

			@include tablet {
				margin-bottom: 48px;
			}
		}

		._cta{
			display: inline-block;
		}
	}

	// .image-wrap{
	// 	overflow: hidden;

	// 	@include tablet {
	// 		height: 550px;
	// 	}

	// 	@include small-laptop {
	// 		height: 700px;
	// 	}

	// 	[data-cascade]{
	// 		position: relative;
	// 		width: 100%;
	// 		height: 100%;
	// 	}

	// 	img{
	// 		width: 100%;

	// 		@include tablet {
	// 			position: absolute;
	// 			margin: auto;
	// 			top: 50%;
	// 			left: 50%;
	// 			@include translate(-50%, -50%);
	// 		}
	// 	}
	// }




	.img-carousel {
		// background-color: blue;
		overflow: hidden;

		._inner-wrapper {
			display: flex;
			flex-wrap: nowrap;
			// overflow: hidden;
			position: relative;
			// position: absolute;
			// top: 0;
			// left: 0;
			// width: 100%;
			// height: 600px;
			// left
			// left: -400px;
			// @include transitions-ease(0.4s);

			transition: 0.4s all;
		}

		._img-container {
			flex-shrink: 0;
			position: relative;
			width: 100%;
			// border: 1px solid pink;
			width: 100%;
			height: 400px;

			@include tablet {
				// height: 550px;
			}

			@include laptop {
				margin-top: 60px;
				height: 600px;
				// display: none;
			}

			@include small-desktop {
				margin-top: 120px;
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// width: auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}

			._caption {
				z-index: 50;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: auto;
				padding: 10px 15px;
				background-color: rgba(0, 0, 0, 0.55);
				color: #ffffff;
				font-size: 0.8em;
			}
		}

		._pagination {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 25px;
		}

		._indicator {
			width: 48px;
			height: 12px;
			border-radius: 2px;
			background-color: #A3A3A3;
			cursor: pointer;
			@include transitions-ease(0.4s);

			&:not(:first-child) {
				margin-left: 11px;
			}

			&:hover {
				opacity: 0.8;
			}

			&.active {
				cursor: default;
				background-color: $main-theme-color;
				opacity: 1;
			}
		}
	}
}